{% extends "page.html" %}

{% load i18n %}
{% load static %}

{% load i18n_include %}

{% block title %}{% trans "10 or more All-NBA Team Honored Players" %}{% endblock %}

{% block head %} 
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'style/10.css' %}" />
    <style>
        .layer:after {
            content:"{% trans '10 or more Selections' %}"
        }
    </style> 
{% endblock %}

{% block content %} 
    {{ block.super }} 
{% endblock %}

{% block data %}
    <div class="honors-list"> 
        <table cellspacing="0">
            <tr>
                <th>Player</th>
                <th>Country</th>
                <th>Role(s)</th>
                <th>Teama</th>
                <th>Period</th>
                <th>1st</th>
                <th>2nd</th>
                <th>3rd</th>
                <th>1st+2nd</th>
                <th>Tot</th>
                <th>MVP</th>
            </tr>
            {% for s in selections %}
            <tr> 
                <td>{{ s.fullname|safe }}</td>
                <td>{{ s.flag }}{{ s.country }}</td>
                <td>{{ s.role }}</td>
                <td>{{ s.teams }}</td>
                <td>{{ s.period }}</td>
                <td>{{ s.first }}</td>
                <td>{{ s.second }}</td>
                <td>{{ s.third }}</td>
                <td>{{ s.first|add:s.second }}</td>
                <td>{{ s.overall }}</td>
                <td>{{ s.mvp }}</td>
            </tr>
            {% endfor %}
            
            </table>

    </div> 
{% endblock %}

{% block svgdef %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'script/10.js' %}"></script>
{% endblock %}