{% comment %}{% endcomment %}
<div class="tab-bar">
    <span class="tab" onclick="this.style.background='blue'; showSection(this, 'what')">"All-"<i>what</i> ?</span>
    <span class="tab" onclick="showSection(this, 'composition')">Composition</span>
    <span class="tab" onclick="showSection(this, 'voting')">Voting</span>
</div>
<div class="tab-container">
    <div class="tab-section" id="what">
        <h4>What are the All-NBA Team honors?</h4>
        <p>The All-NBA Team is an annual National Basketball Association (NBA) honor
            bestowed on the best players in the league following every NBA season. 
            <br>The team has been selected 
            in every season of the league's existence, dating back to its inaugural
            season in 1946. 
        </p>
    </div>

    <div class="tab-section" id="composition">
        <h4>Who in inserted in these selections?</h4>
            <p>The All-NBA Team originally had two teams, but 
            since 1988 it is composed of three five-man lineups—a first, second,
            and third team, typically comprising a total of 15 roster spots.
            <br>In particular
            </p> 
            <ul>
                <li>From the <i>1946–47</i> season to <i>1954–55</i> season, the All-NBA Team was composed of <u>two</u> teams, 
                    each with five roster spots, except when there were ties. During this period, players 
                    were selected without regard to position.</li>
                <li>From the <i>1955–56</i> season to <i>1987–88</i> season, the All-NBA Team was composed of <u>two</u> teams, 
                    each with five roster spots, except when there were ties. During this time, players 
                    were selected with regard to position; they are listed according to position in the 
                    following descending order: two forwards, one center and two guards.</li>
                <li>Since the <i>1988–89</i> season, the All-NBA Team has been composed of <u>three</u> teams, each with 
                    five roster spots, except when there are ties. Players are selected with regard to position; 
                    they are listed according to position in the following descending order: two forwards, 
                    one center and two guards.</li>
            </ul>
    </div>

    <div class="tab-section" id="voting">
        <h4>How are the players voted?</h4>
        <p>The voting is conducted by a panel of sportswriters and broadcasters 
        throughout the United States and Canada.<br>
    Players receive</p><ul> <li>five points for a first team vote</li><li> three points for a second
    team vote</li><li>one point for a third team vote.</li> </ul><p>The five players with the 
    highest point totals make the first team, with the next five making the
    second team and so forth. In the case of a tie at the fifth position 
    of any team, the roster is expanded. <br>If the first team consists of 
    six players due to a tie, the second team will still consist of five
    players with the potential for more expansion in the event of 
    additional ties. A tie has occurred only once, in 1952, when 
    Bob Davies and Dolph Schayes tied in votes received.
    </p> 
    </div>

</div>