<h4>What are the All-NBA Team honors?</h4>
 <p>The All-NBA Team is an annual National Basketball Association (NBA) honor
     bestowed on the best players in the league following every NBA season. 
     The team has been selected 
     in every season of the league's existence, dating back to its inaugural
      season in 1946. 
    </p>

      <h4>Composition</h4>
      <p>The All-NBA Team originally had two teams, but 
      since 1988 it is composed of three five-man lineups—a first, second,
       and third team, typically comprising a total of 15 roster spots.</p>
      <p>In particular</p>{% comment %}
      <ul>
        <li>From the 1946–47 season to 1954–55 season, the All-NBA Team was composed of two teams, 
            each with five roster spots, except when there were ties. During this period, players 
            were selected without regard to position.</li>
        <li>From the 1955–56 season to 1987–88 season, the All-NBA Team was composed of two teams, 
            each with five roster spots, except when there were ties. During this time, players 
            were selected with regard to position; they are listed according to position in the 
            following descending order: two forwards, one center and two guards.</li>
        <li>Since the 1988–89 season, the All-NBA Team has been composed of three teams, each with 
            five roster spots, except when there are ties. Players are selected with regard to position; 
            they are listed according to position in the following descending order: two forwards, 
            one center and two guards.</li>
    </ul>
    
   {% endcomment %}

       <h4>Voting system</h4>
       <p>The voting is conducted by a panel of sportswriters and broadcasters 
     throughout the United States and Canada.<br>
Players receive five points for a first team vote, three points for a second
 team vote, and one point for a third team vote. The five players with the 
 highest point totals make the first team, with the next five making the
  second team and so forth. In the case of a tie at the fifth position 
  of any team, the roster is expanded. If the first team consists of 
  six players due to a tie, the second team will still consist of five
   players with the potential for more expansion in the event of 
   additional ties. A tie has occurred only once, in 1952, when 
   Bob Davies and Dolph Schayes tied in votes received.
</p> 