{% extends "page.html" %}

{% load i18n %}
{% load static %}

{% load i18n_include %}

{% block title %}{% trans "All-NBA Teams Recipients" %}{% endblock %}

{% block head %} 
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% static 'style/list.css' %}" />
    <style>
        .layer:after {
            content:"{% trans 'Selections' %}"
        }
    </style> 
{% endblock %}

{% block content %} 
    {{ block.super }} 
{% endblock %}

{% block data %} 
    <div class="history-text"> 
        <table>
            <tr>
                <th rowspan="2">Seasons</th>
                <th colspan="2">First team</th>
                <th colspan="2">Second team</th>
                {% if teams == 3 %}<th colspan="2">Third team</th> {% endif %}
            </tr>
            <tr>
                <th>Player</th>
                <th>Team</th>
                <th>Player</th>
                <th>Team</th>
            {% if teams == 3 %}
                <th>Player</th>
                <th>Team</th>
            {% endif %}
            </tr>
            
            {% for s in selections %}
                <tr>
                    <td rowspan="5">{{s.season}}</td>
                    {% for d in s.F.0 %} <td>{{d.0|safe}}</td><td>{{d.1}}</td> {% endfor %}
                </tr>
                <tr> {% for d in s.F.1 %} <td>{{d.0|safe}}</td><td>{{d.1}}</td> {% endfor %} </tr>
                <tr> {% for d in s.C   %} <td>{{d.0|safe}}</td><td>{{d.1}}</td> {% endfor %} </tr>
                <tr> {% for d in s.G.0 %} <td>{{d.0|safe}}</td><td>{{d.1}}</td> {% endfor %} </tr>
                <tr> {% for d in s.G.1 %} <td>{{d.0|safe}}</td><td>{{d.1}}</td> {% endfor %} </tr>
            {% endfor %}
            
            </table>

    </div> 
{% endblock %}

{% block svgdef %}
{% endblock %}

{% block script %}
    {{ block.super }}
    <script src="{% static 'script/list.js' %}"></script>
{% endblock %}