/* -- general -- */
html,body, {
    width: 100%;
    height: 100%;
}
@import url('https://fonts.googleapis.com/css?family=Bitter:700');
body {
    background: white url('images/splash.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
    padding: 0px;
    position: relative;
    text-align: center;
    font-family: 'Bitter', serif;
    cursor: progress;
}
/* -- voldySplash -- */
*, *::before, *::after {
	box-sizing: border-box;
}
.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
	align-items: center;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    z-index: 0;
}
.bg {background: linear-gradient(#70e1f5,#ffd194 );}
.title {
    text-shadow: 0px 3px 0px #b2a98f,
                 0px 14px 10px rgba(0,0,0,0.15),
                 0px 24px 2px rgba(0,0,0,0.1),
                 0px 34px 30px rgba(0,0,0,0.1);
}
.title:hover {
    opacity:0.75;
    color: darkslategray;
}

h1.voldy{
	position: relative;
	display: block;
	margin: 0;
	font-size: 6vw;
	line-height: 1;
	transform: translateY(13vw);
	animation: up 1000ms 100ms linear forwards;
	z-index: 1;
    font-style: oblique;
    cursor: none;
}	

.title-container {
	font-size: 0;
    position: absolute;
    top: 45vh;
	overflow: hidden;
	padding-bottom: 0.4rem;
}
@keyframes up {100% {transform: translateY(0);}}

/* -- allnbaSplash -- */
.container_author {
    color: #343434;
    font-size: 1vw;
	display: none;
	align-items: center;
	justify-content: center;
    min-height: 20vh;
    position: absolute;
    right: 0;
    left: 0;
    bottom: 1vh;
}
	.container_author h1 {
		line-height: 1.4;
		word-spacing: 3px;
        max-width: 45rem;
        cursor: help;
	}
    .container_author a { text-decoration: none; }
	.highlight {
		display: inline-block;
		color: #343434;
		transition: color 250ms;
		position: relative;
		z-index: 0;
    }
    .highlight::after {
			position: absolute;
			z-index: -1;
			bottom: -5px;
			left: 50%;
			transform: translateX(-50%);
			content: '';
			width: 100%;
			height: 3px;
			background-color: #343434;
			transition: all 250ms;
		}
		.highlight:hover {
			color: white;
            text-decoration: underline ivory double;
        }	
			.highlight:hover::after {
				height: 105%;
				width: 105%;
			}

.pulse {
	z-index: -1;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	
}	
    .pulse circle {
		fill: #772603;
		transform: scale(0);
		opacity: 0;
		transform-origin: 50% 50%;
		animation: pulse 1s 2s cubic-bezier(.5,.5,0,1);
    }		
        .pulse circle:nth-child(2) {
			fill: #025e02;
			animation: pulse 1s 2.75s cubic-bezier(.5,.5,0,1);
		}
		.pulse circle:nth-child(3) {
			fill: #a9ac08;
			animation: pulse 1s 3.5s cubic-bezier(.5,.5,0,1);
		}
@keyframes pulse {
	25% {opacity: 0.4;}
	100% {transform: scale(1);}	
}

.menu-button{transition: fill 500ms;}
.outer-circle {
	transform-origin: 60px 60px;
	transition: transform 2s cubic-bezier(0.620, 0.005, 0.000, 1.005);
}
.button {
	max-width: 12rem;
	background: none;
	border: 0 none;
	font-size: 0;
    cursor: pointer;
    display: none;
}	
    .button svg {
		width: 100%;
		height: auto;
	}
		.button svg:hover text {
            fill: #4248f4;
            text-decoration-color: ivory;
            text-decoration-line: underline;
            text-decoration-style: double;
        }
        .button svg:hover .outer-circle {transform: rotate(360deg);}
        .button svg:hover .outer-circle circle {
            stroke: red;
            stroke-width: 4;
            stroke-dasharray: 0;
            stroke-opacity: 0.8;
        }
    .logo {
        background-image: url('images/nba_logo.svg'); 
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 100% 100%;
  }
/*  --- corner ---  */
svg.corner {
    display: none;
    background: transparent;
    position: fixed;
    top: 0;
    right: 0;
}
    svg.corner text {
        cursor: pointer;
    }
    svg.corner:hover text {
        text-decoration-line: overline;
        text-decoration-color: rgb(119, 5, 24);
    }

