{% load static %}
{% load i18n %}

<!doctype html>
<html lang="en">
<head>
  <title>{% block title %}HERE THE TITLE{% endblock %}</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="All-NBA Teams Stats Home Page">
  <meta name="author" content="Andrea Orlandi">
  <meta name="web_author" content="Voldy87">
  <meta name="reply-to" content="allnbateam@voldy87.tk">
  <meta name="keywords" content="NBA, award, basketball, sport, team, franchise">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex" />
  <meta name="language" content="English">

  <link rel="stylesheet" type="text/css" href="{% static 'general.css' %}" />
  {% block head %}{% endblock %}
  
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
    <div class="container">
        <nav class="item left">
            <ul class="index">
                <li><h5><a href="../record_pages/history">{{ _("history")|capfirst }}</a></h5></li>
                <li><h5>{{ _("Winners' list")|capfirst }}</h5></li>
                <li><h5>{{ _("records")|capfirst }}</h5>
                    <ul>
                        <li>Single Players
                            <ul>
                                <li>Complete list</li>
                                <li>10 or more selections</li>
                                <li>Stats Leader relation</li>
                                <li>Rookie primacies</li>
                                <li>Overall selections</li>
                                <li>Age primacies</li>
                                <li>Role classification</li>
                                <li>Choices with a single team</li>
                                <li>Choices with multiple teams</li>
                                <li>Age primacies</li>
                            </ul>
                        </li>
                        <li>NBA Franchises
                            <ul>
                                <li>Complete list</li>
                                <li>Records</li>
                            </ul>
                        </li>
                        <li>Winners' nationality
                            <ul>
                                <li>Complete list</li>
                                <li>Records</li>
                            </ul>
                        </li>
                        <li>Draft classes
                            <ul>
                                <li>Complete list</li>
                                <li>Records</li>
                            </ul>
                        </li>
                        <li>Other criteria</li>
                    </ul>
                </li>
                <li><h5>Data &amp; Charts</h5></li>
                <li><h5>Public API</h5></li>
                <li><h5>References</h5></li>
                <li><h5>Useful Links</h5></li>
                <li><h5>Credits</h5>
                    <ul class="credits">
                        <li><a href="#">Assets</a></li>
                        <span>|</span>
                        <li><a href="https://voldy87.tk">Author</a></li>
                    </ul>
                </li>
            </ul>
            <div class="mobile-switch"></div>
        </nav>
        <div class="item right">
            {% include "lang-switch.html" %}
            {% block content %}HERE THE CONTENT OF THE PAGE{% endblock %}
            {% block footer %}{% endblock %}
        </div>
        {% block svgdef %}{% endblock %}
    </div>
     <!-- Container END -->
     {% block script %}{% endblock %}
</body>
</html>

<!--
    
    credits: lottey icon: <div>Icons made by x<a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a>
    <div>Icon made from <a href="http://www.onlinewebfonts.com/icon">Icon Fonts</a> is licensed by CC BY 3.0</div>
    </div>
images slideshow: 
-->