<!doctype html>

<html lang="en">
<head>
  <title>Voldy87 presents All-NBA Teams Stats</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="All-NBA Teams Stats Landing Page">
  <meta name="author" content="Andrea Orlandi">
  <meta name="web_author" content="Voldy87">
  <meta name="reply-to" content="allnbateam@voldy87.tk">
  <meta name="keywords" content="NBA, award, basketball, sport, team, franchise">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex" />
  <meta name="language" content="English">
  {% load static %}
  <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />
  <script src="{% static 'script.js' %}"></script>
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>

<div class="container">
  <div class="title-container">
    <h1 class="voldy">presents...</h1>
    <svg class="pulse" viewBox="0 0 2048 2048" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <circle id="Oval" cx="1024" cy="1024" r="512"></circle>
      <circle id="Oval" cx="1024" cy="1024" r="768"></circle>
		  <circle id="Oval" cx="1024" cy="1024" r="1024"></circle>
  </svg>
  </div>
  <div class="container logo">
      <button class="button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120">
              <g fill="none" fill-rule="evenodd">
               <circle class="inner-circle" cx="60" cy="60" r="39" fill="#FFF"/>      
                <g>
                  <text xml:space="preserve" text-anchor="start" font-family="Bitter, Helvetica, Arial, sans-serif" font-size="16" y="67" x="32" stroke-width="0" stroke="#000" fill="#000000">ENTER</text>
                </g>
                <g class="outer-circle">
                  <circle cx="60" cy="60" r="53" stroke="#4248f4" transform="rotate(90 60 60)"  stroke-dasharray="1.5" stroke-width="1.6"/>
                  <circle cx="60" cy="7" r="2" fill="#4248f4" stroke-width="10"/>
                  <circle cx="60" cy="113" r="2" fill="#4248f4" stroke-width="10"/>
                  <circle cx="113" cy="60" r="2" fill="#4248f4" stroke-width="10"/>
                  <circle cx="7" cy="60" r="2" fill="#4248f4" stroke-width="10"/>
                </g>
              </g>
          </svg>
        </button>
  </div>	  
</div>

<div class="container_author">
	<h1>Want to know more about the author?<br>
    <a class="highlight" target="_blank" href="https://voldy87.tk">
      <span style="text-transform: uppercase">see here!</span>
    </a>
  </h1>
</div>
<svg class="corner" xmlns="http://www.w3.org/2000/svg" height="70" width="70">
  <a target="_blank" href="https://voldy87.tk">
    <text x="8" y="8" font-size="10" fill="red" transform="rotate(45)">a Voldy87 work</text>
  </a>
</svg> 
</body>

</html>