@import 'colors';
@import 'animations';
@import 'mixins';
@import 'base';

@import url('https://fonts.googleapis.com/css?family=Bitter:700');

  /* -- container left and right -- */
  .container {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    .item {
      height: 100vh;
      display: grid;
      margin: auto;
      text-align: center;
      transition: .3s;
      position: relative;
    }
  }
.container .item.left:hover {
    transition: all ease-out 600ms;
    flex-grow: 30;
    @include xs {
      width: auto;
    }
    @include sm {
      width: auto;
    }
    cursor: pointer;
  }
  
  .right {
    flex-grow: 100;
    background: radial-gradient(circle, white, $red, $blue);
    box-shadow: -10px 0 70px 10px $blue;
    @include xs {
      box-shadow: unset;
    }
    @include sm {
      box-shadow: unset;
    }
    border-left: 1px solid rgba(14,73,157,0.4);
  }
  .left {
    flex-grow: 1;
    box-shadow: 10px 0 70px 10px $blue;
    @include xs {
      flex-grow: 8;
      box-shadow: unset;
    }
    @include sm {
      flex-grow: 7;
      box-shadow: unset;
    }
    background: linear-gradient(to right, rgba(255,255,255,0.8), rgba(255,255,255,0.1));
    border-right: 1px solid rgba(14,73,157,0.4);
    width: 1vw; /* as CSS can't animate between display none/block */
    z-index: 1;
  }
  
/* -- index on the left -- */
ul.index {
  visibility: hidden;
  overflow-y: auto;
  @include xs {
    width: 85%;
  }
  @include sm {
    width: 85%;
  }
}
.container .item.left:hover ul.index {
  animation-name: appear;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
}
.container .item.left:hover .mobile-switch {
  transform: rotate(0deg);
  width: 15%;
}

ul.index {
  padding: 15px 5px;
  line-height: 45px;
}
ul.index > li { 
  border-top-color: $red;
  border-bottom-color: $red;
  border-left-color: $blue;
  border-right-color: $blue;
  border-style: double; 
  border-radius: 10%; 
  border-width: medium;
  margin: 10px 5px;
  background-color: rgba(245, 236, 236, 0.8);
  font-size: 17px;
}
ul.index h5:hover {
  color: $red;
  text-decoration: $blue underline dashed;
} 
ul.index h5::before, ul.index h5::after {
  content:'';
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: url("images/ball.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat; 
  transition: transform 5s;
}
ul.index h5:hover::before, ul.index h5:hover::after  {
  transform: rotate(360deg);
  background-color: $orange;
  border-radius: 100%;
}
ul.index ::before {margin-right:5px}
ul.index ::after {margin-left:5px}
ul.index > li li {
  font-size: 12px;
  line-height: 25px;
}
ul.index > li > ul > :not(:last-child)::after{ /*:not(ul:last-child)*/
  content:'';
  width: 8px;
  height: 1px;
  display: inline-block;
  background-color: black;
}
ul.index > li > ul.credits > :not(:last-child)::after{
  display: none;
}

ul.index > li li li {
  font-size: 8px;
  font-style: italic;
  line-height: 12px;
}
ul.index > li li li:hover {
  text-decoration: $red underline dotted;
  color: $blue;
  font-weight: 800;
}

.credits {
    margin-top: -15px;
    li {
        display: inline;
    }
    a {
        text-decoration: none;
        color: inherit;
            &:hover{
            text-decoration: $blue underline waved;
            color: $red;
            }
    }
}

.mobile-switch {
  display: none;
  color:red;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  background-image: url("./images/arrow.png"), linear-gradient(to left, rgb(208, 208, 250), rgb(248, 165, 165));//red;//, linear-gradient(to right, $red, $blue);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  transform: rotate(180deg);
  @include xs {
    display:block;
    width: 100%;
  }
  @include sm {
    display:block;
    width: 100%;
  }
}