{% comment %}{% endcomment %}
<div class="tab-bar">
    <span class="tab" onclick="this.style.background='blue'; showSection(this, 'what')">El premio</span>
    <span class="tab" onclick="showSection(this, 'composition')">Miembros</span>
    <span class="tab" onclick="showSection(this, 'voting')">Votación</span>
</div>
<div class="tab-container">
    <div class="tab-section" id="what">
        <h4>¿Cuáles son los honores del equipo All-NBA?</h4>
        <p>El equipo All-NBA es un honor anual de la Asociación Nacional de Baloncesto (NBA), 
            otorgado a los mejores jugadores de la liga.. 
            <br>El equipo ha sido seleccionado en cada temporada de la liga, desde su inauguración en 1946. 
        </p>
    </div>

    <div class="tab-section" id="composition">
        <h4>¿Quién está insertado en estas selecciones?</h4>
            <p>El equipo All-NBA originalmente tenía dos equipos, pero
             desde 1988 se compone de tres alineaciones de cinco hombres: una primera, segunda,
             y el tercer equipo, que normalmente comprende un total de 15 lugares de la lista.
             <br> En particular, los cambios entre la temporada de la NBA han sido:
            </p> 
            <ul>
                <li><i>1946–47</i>&#8594;<i>1954–55</i>: <u>2</u> equipos,
                  cada uno con 5 manchas en la lista, excepto cuando había empates. Jugadores
                  fueron seleccionados sin tener en cuenta la posición.</li>
                <li><i>1955–56</i>&#8594;<i>1987–88</i>: <u>2</u> equipos,
                    cada uno con 5 manchas en la lista, excepto cuando había empates. Los jugadores
                     fueron seleccionados con respecto a la posición: dos delanteros, un centro y dos guardias</li>
                <li>Desde la temporada <i> 1988-89 </i>, el Equipo All-NBA ha estado compuesto por <u>tres</u> equipos, cada uno con
                     5 lugares de la lista, excepto cuando hay vínculos. Los jugadores son seleccionados con respecto a su posición: dos delanteros,
                      un centro y dos guardias.</li>
            </ul>
    </div>

    <div class="tab-section" id="voting">
        <h4>¿Cómo se votan los jugadores?</h4>
        <p>La votación se lleva a cabo por un panel de periodistas deportivos y locutores
             a lo largo de los Estados Unidos y Canadá. <br>
             Los jugadores reciben </p> <ul> <li> 5 puntos para el primer voto del equipo </li> <li> 3 puntos por un segundo
             voto del equipo </li> <li> un punto para la votación del tercer equipo. </li> </ul> <p> Los 5 jugadores con el
            los totales más altos hacen el primer equipo, y los siguientes cinco hacen
             segundo equipo y demás. En el caso de un empate en la quinta posición
            de cualquier equipo, la lista se expande. Si el primer equipo consiste en
            6 jugadores debido a un empate, el segundo equipo todavía consistirá en 5
            jugadores con el potencial de una mayor expansión en el caso de lazos adicionales.
    </p> 
    </div>

</div>