/* Smartphones (portrait and landscape) ----------- */
@counter-style ball-list {
  system: fixed;
  symbols: url("../assets/ball-bn.svg");
  suffix: " ";
}

.history-text {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(80%, #96011a), to(white));
  background: linear-gradient(#96011a 80%, white);
  color: #0E499D;
  width: 95%;
  height: 95%;
  margin: 7px auto;
  border-radius: inherit;
  padding: 5px 8px;
  font-size: 10px;
}

@media (min-width: 1024px) and (max-width: 1479px) {
  .history-text {
    width: 98%;
  }
}

@media (min-width: 414px) and (max-width: 767px) {
  .history-text {
    font-size: smaller;
  }
}

@media (min-width: 320px) and (max-width: 413px) {
  .history-text {
    font-size: small;
  }
}

.history-text h4 {
  font-weight: bolder;
  color: white;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-color: #0E499D;
          text-decoration-color: #0E499D;
  -webkit-text-decoration-style: double;
          text-decoration-style: double;
  margin-top: 8px;
  margin-bottom: 5px;
}

.history-text p {
  text-align: justify;
}

.history-text ul {
  text-align: left;
  list-style-position: inside;
}

.history-text ul li {
  font-size: smaller;
}

.history-text #composition ul {
  list-style-type: circle;
  list-style-type: ball-list;
}

.history-text #voting ul {
  list-style-image: url("../assets/ball-bn.svg");
}

.tab-bar {
  display: none;
}

@media (min-width: 414px) and (max-width: 767px) {
  .tab-bar {
    display: block;
  }
}

@media (min-width: 320px) and (max-width: 413px) {
  .tab-bar {
    display: block;
  }
}

.tab-bar {
  display: none;
  position: relative;
  top: 2px;
  right: 1px;
  z-index: 2;
  width: 100.4%;
}

@media (min-width: 414px) and (max-width: 767px) {
  .tab-bar {
    display: inline-block;
  }
}

@media (min-width: 320px) and (max-width: 413px) {
  .tab-bar {
    display: inline-block;
  }
}

.tab {
  border-style: solid;
  width: 32.4%;
  border-width: 0;
  border-color: #96011a;
  background: #0E499D;
  color: white;
  border-radius: 5px 5px 0 0;
  display: inline-block;
  font-size: smaller;
  cursor: pointer;
}

.tab:hover {
  -webkit-text-decoration-color: white;
          text-decoration-color: white;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  -webkit-text-decoration-style: dotted;
          text-decoration-style: dotted;
}

.tab-container {
  position: relative;
  color: white;
  border: 2px solid white;
  padding: 15px 8px 5px 8px;
  line-height: 22px;
  word-spacing: 2px;
  display: block;
}

@media (min-width: 1024px) and (max-width: 1479px) {
  .tab-container {
    border: none;
  }
}

@media (min-width: 414px) and (max-width: 767px) {
  .tab-container {
    display: none;
    font-size: smaller;
    line-height: normal;
    word-spacing: normal;
  }
}

@media (min-width: 320px) and (max-width: 413px) {
  .tab-container {
    display: none;
    font-size: 10px !important;
    line-height: normal;
    word-spacing: normal;
  }
}

.tab-section {
  display: block;
}

@media (min-width: 414px) and (max-width: 767px) {
  .tab-section {
    display: none;
  }
}

@media (min-width: 320px) and (max-width: 413px) {
  .tab-section {
    display: none;
  }
}
/*# sourceMappingURL=history.css.map */