/* Smartphones (portrait and landscape) ----------- */
@-webkit-keyframes osc {
  100% {
    -webkit-transform: rotateX(30deg) rotateY(1deg) rotateZ(1deg);
            transform: rotateX(30deg) rotateY(1deg) rotateZ(1deg);
  }
}
@keyframes osc {
  100% {
    -webkit-transform: rotateX(30deg) rotateY(1deg) rotateZ(1deg);
            transform: rotateX(30deg) rotateY(1deg) rotateZ(1deg);
  }
}

.reduced .layer:after {
  font-size: smaller;
}

.reduced * {
  font-size: smaller !important;
}

.page-content-container {
  position: relative;
  height: 60%;
  top: 20%;
  margin: 0 10px;
  border-radius: 20px;
  border: thick ridge #0E499D;
  display: block;
  -webkit-transition: all 800ms ease-out;
  transition: all 800ms ease-out;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../assets/basket-sky-lg.jpg");
  opacity: 0.5;
  background-repeat: no-repeat;
  background-size: cover;
}

@media (min-width: 320px) and (max-width: 413px) {
  .page-content-container {
    background-image: url("../assets/basket-sky-sm.jpg");
  }
}

@media (min-width: 414px) and (max-width: 767px) {
  .page-content-container {
    background-image: url("../assets/basket-sky-sm.jpg");
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .page-content-container {
    background-image: url("../assets/basket-sky-md.jpg");
  }
}

.stage {
  height: 10vh;
  width: 90%;
  position: absolute;
  left: 5%;
  -webkit-perspective: 9999px;
          perspective: 9999px;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@media (min-width: 320px) and (max-width: 413px) {
  .stage {
    top: 7%;
  }
}

@media (min-width: 414px) and (max-width: 767px) {
  .stage {
    top: 7%;
  }
}

.layer {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-animation: osc 800ms infinite alternate ease-in-out -3.5s;
          animation: osc 800ms infinite alternate ease-in-out -3.5s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-transform: rotateY(10deg) rotateX(10deg) translateZ(10deg);
          transform: rotateY(10deg) rotateX(10deg) translateZ(10deg);
}

.layer:after {
  font-size: 70px;
  position: absolute;
  left: 0;
  right: 0;
  color: #820116;
  letter-spacing: -2px;
  text-shadow: 4px 0 10px rgba(0, 0, 0, 0.13);
}

@media (min-width: 320px) and (max-width: 413px) {
  .layer:after {
    font-size: 35px;
  }
}

@media (min-width: 414px) and (max-width: 767px) {
  .layer:after {
    font-size: 55px;
  }
}

.layer:nth-child(n+10):after {
  -webkit-text-stroke: 3px rgba(0, 0, 0, 0.25);
}

.layer:nth-child(n+11):after {
  -webkit-text-stroke: 15px #0E499D;
  text-shadow: 6px 0 6px black, 5px 5px 5px black, 0 6px 6px black;
}

.layer:nth-child(n+12):after {
  -webkit-text-stroke: 15px #0a336e;
}

.layer:last-child:after {
  -webkit-text-stroke: 17px rgba(0, 0, 0, 0.1);
}

.layer:first-child:after {
  color: #fff;
  text-shadow: none;
}

.layer:nth-child(1):after {
  -webkit-transform: translateZ(0px);
          transform: translateZ(0px);
}

.layer:nth-child(2):after {
  -webkit-transform: translateZ(-1.5px);
          transform: translateZ(-1.5px);
}

.layer:nth-child(3):after {
  -webkit-transform: translateZ(-3px);
          transform: translateZ(-3px);
}

.layer:nth-child(4):after {
  -webkit-transform: translateZ(-4.5px);
          transform: translateZ(-4.5px);
}

.layer:nth-child(5):after {
  -webkit-transform: translateZ(-6px);
          transform: translateZ(-6px);
}

.layer:nth-child(6):after {
  -webkit-transform: translateZ(-7.5px);
          transform: translateZ(-7.5px);
}

.layer:nth-child(7):after {
  -webkit-transform: translateZ(-9px);
          transform: translateZ(-9px);
}

.layer:nth-child(8):after {
  -webkit-transform: translateZ(-10.5px);
          transform: translateZ(-10.5px);
}

.layer:nth-child(9):after {
  -webkit-transform: translateZ(-12px);
          transform: translateZ(-12px);
}

.layer:nth-child(10):after {
  -webkit-transform: translateZ(-13.5px);
          transform: translateZ(-13.5px);
}

.layer:nth-child(11):after {
  -webkit-transform: translateZ(-15px);
          transform: translateZ(-15px);
}

.layer:nth-child(12):after {
  -webkit-transform: translateZ(-16.5px);
          transform: translateZ(-16.5px);
}

.layer:nth-child(13):after {
  -webkit-transform: translateZ(-18px);
          transform: translateZ(-18px);
}

.layer:nth-child(14):after {
  -webkit-transform: translateZ(-19.5px);
          transform: translateZ(-19.5px);
}

.layer:nth-child(15):after {
  -webkit-transform: translateZ(-21px);
          transform: translateZ(-21px);
}

.layer:nth-child(16):after {
  -webkit-transform: translateZ(-22.5px);
          transform: translateZ(-22.5px);
}

.layer:nth-child(17):after {
  -webkit-transform: translateZ(-24px);
          transform: translateZ(-24px);
}

.layer:nth-child(18):after {
  -webkit-transform: translateZ(-25.5px);
          transform: translateZ(-25.5px);
}

.layer:nth-child(19):after {
  -webkit-transform: translateZ(-27px);
          transform: translateZ(-27px);
}

.layer:nth-child(20):after {
  -webkit-transform: translateZ(-28.5px);
          transform: translateZ(-28.5px);
}

.page-footer {
  color: white;
  text-align: center;
  width: 100%;
  position: absolute;
  bottom: 0;
  font-size: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background: rgba(255, 255, 255, 0.2);
  padding: 5px;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

@media (min-width: 320px) and (max-width: 413px) {
  .page-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 414px) and (max-width: 767px) {
  .page-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.page-footer a {
  text-decoration: unset;
  color: inherit;
}

.page-footer img {
  display: none;
  width: 12px;
  padding: 0 1px;
}

@media (min-width: 320px) and (max-width: 413px) {
  .page-footer img {
    display: initial;
  }
}

@media (min-width: 414px) and (max-width: 767px) {
  .page-footer img {
    display: initial;
  }
}

@media (min-width: 320px) and (max-width: 413px) {
  .page-footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media (min-width: 414px) and (max-width: 767px) {
  .page-footer div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.page-footer div div {
  padding: 4px 8px;
  font-size: 20px;
  margin: 3px 1px;
  border: 1px solid #96011a;
  border-radius: 10px;
}

@media (min-width: 320px) and (max-width: 413px) {
  .page-footer div div {
    font-size: small;
  }
}

@media (min-width: 414px) and (max-width: 767px) {
  .page-footer div div {
    font-size: smaller;
  }
}

.page-footer div div:hover {
  background-color: #96011a;
}

@media (min-width: 320px) and (max-width: 413px) {
  .page-footer__backhome span, .page-footer__searchAndMap span {
    display: none;
  }
}

@media (min-width: 414px) and (max-width: 767px) {
  .page-footer__backhome span, .page-footer__searchAndMap span {
    display: none;
  }
}
/*# sourceMappingURL=page.css.map */