/* Smartphones (portrait and landscape) ----------- */
/* -- menu -- */
#filterdef {
  visibility: hidden;
  position: fixed;
  top: 0;
}

.menu {
  -webkit-filter: url("#shadowed-goo");
  filter: url("#shadowed-goo");
  top: 35vh;
}

#alist {
  background: #96011a;
  border-radius: 100%;
  color: white;
  text-align: center;
  line-height: 80px;
}

#list {
  position: absolute;
  color: white;
  text-align: center;
  left: 0;
  right: 0;
  top: 14vh;
}

#list object:hover {
  cursor: pointer;
  -webkit-transform: scale(2);
          transform: scale(2);
  background: radial-gradient(#0E4991, #0E4990, #0E499D);
  -webkit-transition: background 200ms ease-out,-webkit-transform;
  transition: background 200ms ease-out,-webkit-transform;
  transition: transform,background 200ms ease-out;
  transition: transform,background 200ms ease-out,-webkit-transform;
}

#list object {
  -webkit-transform: scale(1.7);
          transform: scale(1.7);
  background: #0E499D;
  border-radius: 45%;
  padding: 10px;
}

.menu__title {
  color: white;
  position: absolute;
  left: 0;
  right: 0;
}

.menu__title--up {
  top: 4vh;
}

.menu__title--down {
  top: 30vh;
}

.menu-item img {
  position: absolute;
  display: inline-block;
}

.player {
  -webkit-transform: scale(0.4);
          transform: scale(0.4);
  top: -40px;
  left: 4px;
}

a.menu-item:hover .player {
  -webkit-transform: scale(0.3) translate(0, 18px);
          transform: scale(0.3) translate(0, 18px);
}

.lottery {
  -webkit-transform: scale(0.6);
          transform: scale(0.6);
  left: 0;
}

a.menu-item:hover .lottery {
  -webkit-transform: scale(0.6) translate(0, 18px);
          transform: scale(0.6) translate(0, 18px);
}

.flag {
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  top: -17px;
  left: 3px;
  width: 100%;
  height: auto;
}

a.menu-item:hover .flag {
  -webkit-transform: scale(0.5) translate(0, 18px);
          transform: scale(0.5) translate(0, 18px);
}

.misc {
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  top: 18px;
  left: 15px;
}

a.menu-item:hover .misc {
  -webkit-transform: scale(0.7) translate(0, 3px);
          transform: scale(0.7) translate(0, 3px);
}

.team {
  top: -4px;
  -webkit-transform: scale(0.5);
          transform: scale(0.5);
  left: -10px;
}

a.menu-item:hover .team {
  -webkit-transform: scale(0.5) translate(0, 3px);
          transform: scale(0.5) translate(0, 3px);
}

.menu-item, .menu-open-button {
  background: #96011a;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -40px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  transition: -webkit-transform ease-out 200ms;
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

a.menu-item:hover::after {
  /*a.menu-item::after*/
  content: attr(content);
  font-size: 10px;
  position: absolute;
  text-align: center;
  left: 0;
  right: 0;
  bottom: 26px;
}

a.menu-item img {
  -webkit-filter: invert(1);
          filter: invert(1);
}

@-webkit-keyframes shift {
  from {
    background: rgba(153, 4, 29, 0.2);
  }
  to {
    background: rgba(153, 4, 29, 0.6);
    -webkit-transform: scale(8);
            transform: scale(8);
    z-index: 1;
  }
}

@keyframes shift {
  from {
    background: rgba(153, 4, 29, 0.2);
  }
  to {
    background: rgba(153, 4, 29, 0.6);
    -webkit-transform: scale(8);
            transform: scale(8);
    z-index: 1;
  }
}

.menu-item.clickStat {
  -webkit-animation: shift 800ms linear 20ms forwards;
          animation: shift 800ms linear 20ms forwards;
}

a.menu-item:hover img {
  -webkit-filter: invert(0);
          filter: invert(0);
}

.menu-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  transition: -webkit-transform 200ms;
  -webkit-transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}

.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  position: absolute;
  left: 50%;
  margin-left: -190px;
  padding-top: 20px;
  padding-left: 190px;
  width: 380px;
  height: 250px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

.menu-item:hover {
  background: white;
  color: #96011a;
}

.menu-item:nth-child(3) {
  -webkit-transition-duration: 70ms;
          transition-duration: 70ms;
}

.menu-item:nth-child(4) {
  -webkit-transition-duration: 130ms;
          transition-duration: 130ms;
}

.menu-item:nth-child(5) {
  -webkit-transition-duration: 190ms;
          transition-duration: 190ms;
}

.menu-item:nth-child(6) {
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.menu-item:nth-child(7) {
  -webkit-transition-duration: 310ms;
          transition-duration: 310ms;
}

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
          transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
          transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
          transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
          transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}

.menu-open:checked ~ .menu-item:nth-child(3) {
  -webkit-transition-duration: 160ms;
          transition-duration: 160ms;
  -webkit-transform: translate3d(114.42548px, 11.48084px, 0);
  transform: translate3d(114.42548px, 11.48084px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 240ms;
          transition-duration: 240ms;
  -webkit-transform: translate3d(77.18543px, 85.2491px, 0);
  transform: translate3d(77.18543px, 85.2491px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
  -webkit-transition-duration: 320ms;
          transition-duration: 320ms;
  -webkit-transform: translate3d(0.09158px, 114.99996px, 0);
  transform: translate3d(0.09158px, 114.99996px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(6) {
  -webkit-transition-duration: 400ms;
          transition-duration: 400ms;
  -webkit-transform: translate3d(-77.04956px, 85.37192px, 0);
  transform: translate3d(-77.04956px, 85.37192px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(7) {
  -webkit-transition-duration: 480ms;
          transition-duration: 480ms;
  -webkit-transform: translate3d(-114.40705px, 11.66307px, 0);
  transform: translate3d(-114.40705px, 11.66307px, 0);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
  /* If you want dots under the hoverable text */
}

/* ------------------- SLIDES -------------------- */
.slidesContainer {
  position: absolute;
  bottom: 0;
  height: 45vh;
  right: 0;
  left: 0;
}

@media (min-width: 320px) and (max-width: 413px) {
  .slidesContainer {
    display: none;
  }
}

@media (min-width: 414px) and (max-width: 767px) {
  .slidesContainer {
    display: none;
  }
}

/* Hide the images by default */
.mySlides {
  display: none;
  height: 60%;
  border-color: rgba(212, 121, 89, 0.2);
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
  padding: 5px 0;
  margin: 0 10px;
}

.mySlides img {
  height: 100%;
  border: 4px solid rgba(212, 121, 89, 0.8);
  border-radius: 28px;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor:hover {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  background: rgba(255, 255, 255, 0.3);
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #96011a;
  font-weight: bold;
  font-size: 30px;
  border-style: double;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
}

.prev {
  left: 5vw;
  border-radius: 30px 10px 10px 30px;
}

/* Position the "next button" to the right */
.next {
  right: 5vw;
  border-radius: 10px 30px 30px 10px;
}

/* On hover, add a black background color with a little bit see-through radial-gradient(#0E499DFF,#0E499Dbb,#0E499D45);*/
.prev:hover,
.next:hover {
  background: radial-gradient(#0E499D, #0E499a, #0E4992);
  color: white;
  border-color: #96011a;
  border-radius: 50px;
  border-style: solid;
  border-width: 5px;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

.caption-container {
  position: absolute;
  width: 100%;
  bottom: 30%;
  font-size: smaller;
}

.row {
  position: absolute;
  height: 30%;
  bottom: 0;
  right: 0;
  left: 0;
}

.row img {
  height: 10vh;
}
/*# sourceMappingURL=home.css.map */