{% load static %}
{% load i18n %}

<!doctype html>

<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="description" content="All-NBA Teams Stats Landing Page">
  <meta name="author" content="Andrea Orlandi">
  <meta name="web_author" content="Voldy87">
  <meta name="reply-to" content="allnbateam@voldy87.tk">
  <meta name="keywords" content="NBA, award, basketball, sport, team, franchise">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="robots" content="noindex" />
  <meta name="language" content="{{ LANGUAGE_CODE }}">
  <link rel="shortcut icon" type="image/png" href="{% static 'images/favicon/favicon.ico' %}"/>
  <title>Voldy87 {% trans "presents" %} All-NBA Teams Stats</title>
  <link rel="stylesheet" type="text/css" href="{% static 'style/general.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'style/splash.css' %}" />
  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>

<body>
    {% include "lang-switch.html" %}
<div class="splash-container">
  <header class="title-container">
    <h1 class="voldy">{% trans "presents" %}...</h1>
    <svg class="pulse" viewBox="0 0 2048 2048" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <circle id="Oval" cx="1024" cy="1024" r="512"></circle>
      <circle id="Oval" cx="1024" cy="1024" r="768"></circle>
		  <circle id="Oval" cx="1024" cy="1024" r="1024"></circle>
  </svg>
  </header>
  <div class="subtitle" style="display: none">
 <svg version="1.0" xmlns="http://www.w3.org/2000/svg" width="200" height="200" viewBox="0 0 255 184" preserveAspectRatio="xMidYMid meet">
  <g stransform = "translate(150, 120) rotate(45 60 60)" >
    <use x="446" y="194" width="90" height="90" href="{% static 'images/ball.svg#ball' %}" />
    <animateTransform attributeName="transform"  attributeType="XML" type="scale" from="5 5" to="0.3 0.3" dur="5s" fill="freeze"/>
  </g>
  <g transform="translate(0,200) scale(0.200000,-0.200000)" fill="#000000" stroke="none">
<path id="statsPath" fill="none" stroke="#000" stroke-miterlimit="10" d="M720 789 c-41 -73 -84 -150 -95 -173 l-20 -41 -72 -3 c-50 -2 -73 -7
-73 -15 0 -24 24 -37 67 -37 45 0 51 -6 31 -32 -9 -10 -37 -18 -81 -22 -81 -8
-80 -17 -10 138 52 115 64 166 39 166 -19 0 -90 -137 -161 -312 -41 -100 -53
-120 -82 -138 -42 -24 -40 -24 -46 0 -3 13 -17 22 -36 26 -17 4 -34 11 -37 16
-10 16 29 37 59 31 20 -4 27 -2 27 10 0 20 -30 37 -65 37 -29 0 -85 -48 -85
-73 0 -19 28 -42 65 -54 l30 -10 -34 -21 c-19 -12 -59 -24 -88 -28 -35 -4 -53
-11 -53 -20 0 -11 18 -14 78 -14 68 1 101 8 164 34 12 5 16 2 15 -11 -2 -14 5
-18 27 -18 27 0 31 6 64 91 l36 92 66 5 c36 3 66 4 68 2 2 -1 -13 -36 -33 -77
-42 -89 -43 -98 -10 -98 22 0 31 13 72 94 39 80 51 95 75 100 32 6 39 36 8 36
-20 0 -20 1 -4 25 13 20 24 25 58 25 70 0 85 -8 92 -49 12 -75 54 -240 83
-331 32 -100 58 -140 92 -140 30 0 33 24 7 62 -13 19 -32 60 -43 91 -17 51
-18 58 -3 69 8 7 31 52 49 100 31 81 36 88 61 88 26 0 27 -2 16 -25 -14 -31 4
-54 55 -71 l32 -11 -34 -21 c-19 -12 -59 -24 -88 -28 -38 -4 -53 -11 -53 -21
0 -13 15 -15 93 -11 81 3 99 8 157 38 48 26 66 41 68 58 3 21 1 23 -20 17 -13
-4 -33 -13 -45 -21 -29 -18 -30 -18 -36 6 -3 13 -17 22 -36 26 -17 4 -34 11
-37 16 -10 17 29 37 60 31 26 -6 29 -4 24 15 -5 19 -2 22 22 22 39 0 60 9 60
27 0 14 -17 15 -120 11 -141 -6 -134 -21 -63 136 52 115 64 166 39 166 -19 0
-89 -137 -171 -337 -32 -79 -62 -143 -66 -143 -11 0 -37 130 -54 265 -12 97
-13 136 -3 205 18 131 17 155 -7 158 -16 2 -34 -23 -95 -129z"/>
  <animateTransform id="pause" dur="1800ms" type="translate" attributeType="XML" attributeName="transform"/>
  <circle id="tracker" r="40" style="fill: red; stroke: blue; stroke-width: 12">
  <animateMotion id="followpath" dur="3s" begin="pause.end" >
    <mpath xlink:href="#statsPath"/>
  </animateMotion>
</g>
</circle>
</svg>
  </div>
  <div class="container logo" >
      <a href="/home">
      <button class="button">
          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 120 120">
            <linearGradient id="rainbow" x1="0" x2="0" y1="0" y2="100%" >
              <stop stop-color="#9b0314" offset="20%"/>
              <stop stop-color="#e88893" offset="50%"/>
              <stop stop-color="#ef0722" offset="80%"/> 
            </linearGradient>  
            <linearGradient id="rainbow2" x1="0" x2="0" y1="0" y2="100%" >
              <stop stop-color="rgb(7, 22, 237)" offset="20%"/>
              <stop stop-color="rgb(67, 160, 232)" offset="50%"/>
              <stop stop-color="rgb(3, 93, 163)" offset="80%"/> 
            </linearGradient> 
            <g fill="none" fill-rule="evenodd">
                <g class="outer-circle" fill="white" fill-opacity="0.7">
                  <circle cx="60" cy="60" r="53" stroke="#4248f4" transform="rotate(90 60 60)"  stroke-dasharray="1.5" stroke-width="1.6"/>
                  <circle cx="60" cy="7" r="2" fill="#4248f4" stroke-width="10"/>
                  <circle cx="60" cy="113" r="2" fill="#4248f4" stroke-width="10"/>
                  <circle cx="113" cy="60" r="2" fill="#4248f4" stroke-width="10"/>
                  <circle cx="7" cy="60" r="2" fill="#4248f4" stroke-width="10"/>
                </g>
                <a href="/home">
                  <text text-anchor="start" font-family="Bitter, Helvetica, Arial, sans-serif" font-size="24" y="67" x="18" stroke-width="0" stroke="#000" fill="url(#rainbow)">
                      {{ _("enter")|default:"enter"|cut:" "|upper }}
                  </text>
                </a>
              </g>
          </svg>
        </button>
        </a>
  </div>	  
</div>

<div class="container_author">
  <div class="ballWrapper">
      <div class="ball"><span class="ballshad"></span></div>
      <div class="ballShadow"></div>
  </div>
  <div>
    <h1>{% trans "Want to know more about the author?" %}<br>
      <a class="highlight" target="_blank" href="https://voldy87.tk">
        <span style="text-transform: uppercase">{% trans "see here" %}!</span>
      </a>
    </h1>
  </div>  
  <div class="ballWrapper">
      <div class="ball"><span class="ballshad"></span></div>
      <div class="ballShadow"></div>
  </div>
</div>
<svg class="corner" xmlns="http://www.w3.org/2000/svg" height="70" width="70">
  <a target="_blank" href="https://voldy87.tk">
    <text x="8" y="8" font-size="10" fill="red" transform="rotate(45)">{% trans "a Voldy87 work" %}</text>
  </a>
</svg> 
<script src="{% static 'script/splash.js' %}"></script>
</body>

</html>